body {
    background-image: linear-gradient(grey,lightblue);
    background-repeat: no-repeat;
    height: 610px;
}
h1 {
    font-family: Avenir, sans-serif;
    font-size: 44px;
    margin-top: 20%;
    text-align: center;
}
.location {
    display: flex;
    justify-content: space-evenly;
    margin: 3% 30%;
}
label {
    font-family: Avenir, sans-serif;
    font-size: 32px;
}
#latitude, #longitude {

}
form {
    margin-top: 50px;
}
.submit {
    display: flex;
    font-family: Source Sans Pro, sans-serif;
    font-size: 24px;
    justify-content: center;
    /* margin-top: 2%; */
}
#display {
    text-align: center;
}
button {
    margin: 0 auto;
    display: flex;
}
#geolocation {
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
}